# Entorno virtual (si algún día lo creas aquí)
venv/
.venv/
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb

# CSV grandes que no deben ir al repo
BD_MITERAP.csv
Casos_reales.csv
